<br>
<b>Amigos</b>
<ng-container *ngFor="let user of friends; let i = index">
  <p *ngIf="user.friend">
    {{i}}. {{user.nick}} - {{user.age}} - {{user.email}} - {{user.friend}} - {{user.uid}}
  </p>      
</ng-container>

<b>No agregados</b>
<ng-container *ngFor="let user of friends; let i = index">
  <p *ngIf="!user.friend">
    {{i}}. {{user.nick}} - {{user.age}} - {{user.email}} - {{user.friend}} - {{user.uid}}
  </p>    
</ng-container>